.layout {
  background-image: linear-gradient(to right, #02006f, #050d47);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 0 auto;

  background-color: #06081c;

  max-width: 480px; /* ограничиваем ширину для мобильного вида */
  min-height: 100vh;
}

.content {
  overflow: hidden auto;

  padding: 0 0 16px 16px;
  padding-bottom: 0;

  transition: scrollbar-color 0.3s;

  max-height: calc(100vh - 87px);
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: 0;
}

/* Для Chrome, Safari, Edge */
.content::-webkit-scrollbar {
  background: transparent;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  padding: 22px 0;

  background-color: #061023;

  border-top: 2px solid rgb(35 53 87 / 50%);
}

.navbar__item {
  position: relative;

  gap: 7px;
  justify-content: center;

  padding: 4px;

  color: #b0b1b4;

  transition: color 0.3s ease;
}

.navbar__item.active,
.navbar__item:hover {
  color: white;
}

.navbar__item::after {
  position: absolute;
  top: 100%;
  left: calc(50% - 2px);

  display: block;

  width: 4px;
  height: 4px;

  background-color: transparent;
  border-radius: 50%;

  transition: background-color 0.3s ease;

  content: "";
}

.navbar__item_active::after {
  background-color: white;
}

.navbar__item_active {
  color: white;
}
